In [5]:
#string formatting
z=12
print('this is the value of z',z)

this is the value of z 12

In [9]:
q=22
print('value of q is ',q)

value of q is  22

In [11]:
t=24
print('t is equal to ',t)

t is equal to - 24

In [13]:
pi=3.14
print('value of pi is approx.',pi)

value of pi is approx. 3.14

In [14]:
e=2.718
print('value of e is',e)

value of e is 2.718

In [22]:
#input
a=int(input('the value of a '))
b=int(input('the value of b '))
c=print(a+b)

the value of a 12
the value of b 16
28

In [31]:
o=input('o is equal to  o')
p=input('p is eqaul to  p')
t=input('t is eqaul to  t')
s=print(int(o) +int(p) +int(t))

o is equal to  o35
p is eqaul to  p32
t is eqaul to  t11
78

In [42]:
#input
z=input('value of s ')
x=input('value of c ')
print(int(z)+int(x))

value of s 23
value of c 46
69

In [50]:
#input
z=input('For true it is 1 ')
x=input('for false it is 0 ')
print(int(z)+int(x))

For true it is 1 45
for false it is 0 32
77

In [62]:
#input
input('value of z is 23 ')
print(z)

value of z is 23 11
45

In [66]:
#formatting
Karachi="sindh"
Punjab="lahore"
print('Karachi is {0} and Punjab is {1}'.format('sindh','lahore'))

Karachi is sindh and Punjab is lahore

In [74]:
first_name="Usman"
second_name="Zahoor"
print('first_name is {0} and second_name is {1}'.format('Usman','Zahoor'))

first_name is Usman and second_name is Zahoor

In [82]:
Elonmusk=(' EV' )
NikolaT=(' Electricity')
print('Elon musk invented {0} and  Nikola T invented {1}'.format('EV','Electricity.'))

Elon musk invented EV and  Nikola T invented Electricity.

In [86]:
#input
w=input('the first number is')
e=input('the second number is')
print(int(w)+int(e))

the first number is88
the second number is32
120

In [88]:
#maths
import math as m

In [90]:
m.sqrt(25)

5.0

In [94]:
m.pow(5,5)

3125.0

In [95]:
m.tanh(2)

0.9640275800758169

In [96]:
m.e

2.718281828459045

In [97]:
m.pi

3.141592653589793

-2.185039863261519